# OS
.DS_Store

# IDEs
.idea/
.vscode/
*.iml

# Gradle
.gradle/
**/.gradle/
**/build/
**/.build/

# Kotlin / KMP
**/out/
**/.kotlin/

# Android
local.properties
captures/
.externalNativeBuild/

# Logs
*.log
**/caches-jvm/
# Gradle files
build/

.cxx/
*.aab
*.apk
output-metadata.json

misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof
