<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".SnapActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GemiSnap" />
    </application>

</manifest>